@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply m-0 bg-white font-poppins text-rr-navy antialiased;
    text-rendering: geometricPrecision;
  }

  img {
    @apply block max-w-full;
  }

  a,
  button {
    @apply transition-all duration-300 ease-out;
  }

  a:focus-visible,
  button:focus-visible {
    @apply outline outline-4 outline-offset-4 outline-sky-300;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
